<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../css/message.css">
</head>
<body>
<main>
    <header>
        <img src="http://imgfz.com/i/CpyRPO4.png" alt="">
        <h1>Solicitud de nuevo usuario</h1>
    </header>
    <div class="container_button">
        <button id="accept_button" class="quaternary_button">Aceptar</button>
    </div>
    <div class="message">
        <div class="imagen">
            <img src="http://imgfz.com/i/147PNys.png" alt="">
        </div>
        <p>Pepito perez desea unirse</p>
    </div>
    <div class="container_button">
        <button id="reject_button" class="quaternary_button">Rechazar</button>
    </div>
</main>
</body>
</html>