body{
    background-color: white;
    background-attachment: fixed;
    font-family: "Yu Gothic UI Semibold",serif;
    margin:0;
    padding: 0;
    width: 100vW;
    height: 100vH;
}

.contenedorGlobal{
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 0.1fr auto;
    width: 100%;
    height: 100%;
}
div.navbar{
    padding: 0.3% 0.7% 0.35% 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ED1C24;
    grid-row: 1/5;
    height: 100%;
}

div.navbar_header,div.navbar_body,div.navbar_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.navbar_header{
    margin-bottom: 17px;
}

div.navbar_body div{
    margin-top: 12px;
    padding: 7px;
    display: flex;
    align-items: center;
}

div.navbar_footer div{
    margin-top: 20px;
}
.contenedorBotones{
    display:flex;
    justify-content: flex-end;
    padding-right: 50px;
    padding-top: 20px;
}

.clients:hover, .policies:hover, .quotes:hover, .reports:hover, .sinister:hover, .sign_out:hover, .settings:hover, .home:hover{
    background-color: #231F20;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #231F20;
    cursor:pointer;
}
.logo{
    margin-left: 30px;
}

#campana, #logo{

    width: 60px;
    height: 60px;
    border-radius:150px;
}
#logo:hover, #campana:hover  {
    box-shadow: 1px 5px 30px #E91D24;
}

#titulo{
    margin-bottom: 60px;
    color: #E91D24;
    font-size: 70px;
    text-shadow: 0.1em 0.1em 0.1em #B4B1B1;
}

.contenedor{
    display: flex;
    align-items: center;
    padding-left: 240px;
}
.btNuevaPoliza button {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    margin-left: 60px;

}
.btNuevaPoliza button {

    background-color: #E91D24;
    width: 240px;
    height: 90px;
    border-radius: 40px;
    border: none;

}
.btNuevaPoliza button {
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btNuevaPoliza button:hover{
    box-shadow: 1px 5px 30px #E91D24;
}
#mas{
    font-size: 20px;
}
#nuevo{
    text-decoration: none;
}


div.search{
    width: 270px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
    background: white;
    margin-left: 60px;
}


.ContMenuPolizas{
    margin-left: 120px;
    height: 100px;
    margin-top: -60px;
    font-size: 30px;
    
}

.ContPolizas p{
    display:inline;
    color: red;
    font-size: 60px; 

}

.ContMenuPolizas ul{
    list-style: none;
}
.ContMenuPolizas li{;
    display:inline;
}


.ContLetraPoliza{
    font-size: 20px; 
    display:inline-flex;
    padding-right: 20px;
    transform: translateY(48px);
}
.ContLetraPoliza p{
    font-size: 40px; 
    color: white;
    padding-right:25px;
    transform: translateY(-58px);
}
.ContMenuPolizas a{
    text-decoration:none ;
    color: white;
}
.ContMenuPolizas input[type="text"]{
    padding: 0px 0px 0px 15px;
    height: 45px;
    width: 250px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 5px black;
    margin-left:2%;
    margin-top: 40px;
    font-size: 15px;
    transform: translateY(-11px);
}



.ContPoliza{
    margin-top: -25px;
    position: relative;
    margin-left: 150px;
    width: 90%;
    height: 100%;
    background: white;
    border-radius: 30px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    border: 1px rgb(231, 231, 231) solid;
   }


.ContPoliza p{
    display:inline;
}

.ContPoliza ul{
    list-style: none;
}
.ContPoliza li{;
    display:inline;
}
#Fecha{
    background: white;
    border: none;
    text-align: center;
    font-size: 18px;
    width: 180px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}
#Fecha:hover,#Cliente:hover,#Seguro:hover,#Aseguradora:hover, #Estado:hover {
    box-shadow: 1px 5px 15px #9b9b9b;
}

#Cliente,#Seguro,#Aseguradora,#Estado{
    background: white;
    border: none;
    text-align: center;
    font-size: 18px;
    margin-left:3%;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

#btValorAsegurado{
    text-align: center;
    border: none;
    background: white;
    width: 180px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}
#btValorAsegurado:hover,#btValorPrima:hover{
    box-shadow: 1px 5px 15px #9b9b9b;
}
#btValorPrima{
    text-align: center;
    margin-left:3%;
    border: none;
    background: white;
    width: 180px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}

.tablaPoliza{
    text-align:center;
    margin-top: -10px;
    border-collapse: collapse;
    margin-left: 20px;
    border:none;
}

.tablaPoliza th{
    font-family: "arial",serif;
    font-weight: 750;
    height: 80px;
    width: 230px;
    border: none;
}

.tablaPoliza td{
    width: 160px;
    height: 50px;
    border:none;
}

.tablaPoliza tr {
    border-bottom: 1px solid #ccc;
}

.btEditar,#btFiltrar{
    background-color: #E91D24;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
} .btEditar:hover,#btFiltrar:hover {
      box-shadow: 1px 1px 5px #E91D24;
  }

.btEliminar,#btLimpiar{
    background-color: black;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
} 
.btEliminar:hover,#btLimpiar:hover{
      box-shadow: 1px 1px 5px black;
}