<!DOCTYPE html>
<html>
<head>
	<title>Actualizar</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../config/actualizar.css">
</head>
<body>

	<div class="Container">
		<div class="containerActualizar">

			<img src="../config/img/blank-profile-picture-973460_960_720.webp" id="perfil">
			<form>
				<h2>Acutalizar Datos</h2>
				<label>Documento</label>
				<input type="text" name="Documento" placeholder="Documento" value="1007107786">
				<label>Primer Nombre</label>
				<input type="text" name="primerNombre" placeholder="Primer nombre"  value="David">
				<label>Segundo nombre</label>
				<input type="text" name="segundoNombre" placeholder="Segundo nombre"  value="Andrey">
				<label>Primer Apellido</label>
				<input type="text" name="primerApellido" placeholder="Primer Apellido"  value="Sanchez">
				<label>Segundo Apellido</label>
				<input type="text" name="segundoApellido" placeholder="Segundo Apellido"  value="Ariza">
				<label>Fecha De Nacimiento</label>
				<input type="date" name="fechaNacimiento" value="2000-09-16">
				<label>Email</label>
				<input type="Email" name="email" placeholder="Email"  value="de_1600@hotmail.com">
				<label>Tipo documento</label>
				<select>
					<option value="1">cedula</option>
					<option value="2">cedula de extranjeria</option>
				</select>
				<button type="input">Cambiar</button>
			</form>
		</div>
	</div>

</body>
</html>