<!DOCTYPE html>
<html>
<head>
	<title>Cambio Contraseña</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../config/password.css">
</head>
<body>

	<div class="Container">
		<div class="containerPass">
			<img src="../config/img/descargar.png" id="perfil">
			<form>
				<h2>Cambiar contraseña</h2>
				<label>Contraseña</label>
				<input type="password" name="password" placeholder="contraseña">
				<label>Repita Contraseña</label>
				<input type="password" name="password" placeholder="Repita contraseña">
				<button>Cambiar</button>
			</form>

			
		</div>
	</div>

</body>
</html>