<!DOCTYPE html>
<html>
<head>
	<title>Perfil</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../config/perfil.css">
</head>
<body>

	<div class="Container">
		<div class="containerPerfil">
			<img src="../config/img/blank-profile-picture-973460_960_720.webp" id="perfil">

			<h2>David Andrey Sanchez Ariza</h2>
			<a href="cambioPassword.html">Cambiar Contraseña</a>
			<a href="actualizarDatos.html">Actualizar Informacion</a>

		
			<h3>Perez lara</h3>
			
		</div>
	</div>

</body>
</html>