*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
}

div.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: min-content 1fr;
}

div.navbar{
    padding: 17px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ED1C24;
}

div.navbar_header,div.navbar_body,div.navbar_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.navbar_header{
    margin-bottom: 17px;
}

div.navbar_body div{
    margin-top: 12px;
    display: flex;
    align-items: center;
}

div.navbar_body div a{
    padding: 7px 9px;
}

div.navbar_body div.home a{
    background: #231F20;
    border-radius: 10px;
}

div.navbar_footer div.settings,div.sign_out{
    margin-top: 20px;
}

div.activate_settings{
    padding: 35px;
    text-align: center;
    bottom: 60px;
    left: 70px;
    position: absolute;
    visibility: hidden;
    border-radius: 30px;
    box-shadow: 0 0 10px 1px #c6c6c6;
    background-color: white;
}

div.settings_header{
    margin-bottom: 30px;
}

div.access,div.templates{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

div.access img,div.templates img{
    width: 40px;
    height: 40px;
    padding: 7px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #ED1C24;
}

div.header_container{
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.search input{
    width: 216px;
    height: 50px;
    padding: 15px 20px;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px 1px #c6c6c6;
    border-radius: 20px;
    background-image: url('../icons/search.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
}

div.buttons{
    display: flex;
    align-items: center;
}

div.notification_bell,div.profile{
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

div.activate_notification{
    width: 380px;
    height: 550px;
    padding: 50px 30px 30px 30px;
    position: absolute;
    visibility: hidden;
    top: 50px;
    right: 50px;
    text-align: center;
    z-index: 4;
    border-radius: 30px;
    box-shadow: 0 5px 10px 1px #c6c6c6;
    background-color: white;
}

div.profile{
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px #c6c6c6;
    background: white;
}

div.activate_profile{
    width: 310px;
    padding: 35px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 55px;
    right: 50px;
    z-index: 4;
    border-radius: 30px;
    box-shadow: 0 0 10px 1px #c6c6c6;
    background-color: white;
}

div.profile_header{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.picture{
    width: 50px;
    height: 50px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 5px 10px 1px #c6c6c6;
    background-color: white;
}

div.horizontal_separator{
    width: 80%;
    height: 1px;
    border-bottom: 1px solid black;
}

div.option_group{
    width: 100%;
}

div.configuration_option,div.log_out{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

div.configuration_option img,div.log_out img{
    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-right: 15px;
    padding: 7px;
    border-radius: 50%;
    box-shadow: 0 5px 10px 1px #c6c6c6;
    background-color: #ED1C24;
}

div.container_boxes{
    display: grid;
    grid-template-columns: repeat(3,min-content);
    grid-template-rows: repeat(4,min-content);
    justify-content: center;
    align-content: center;
}

div.header_container{
    grid-column: 1/4;
}

div.recents{
    width: 810px;
    height: 600px;
    grid-row: 2/4;
    padding: 10px 30px 20px 40px;
}

div.policies_data{
    grid-column: 2/4 ;
}

div.header_recents{
    margin-bottom: 25px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

div.title{
    font-size: 19px;
    padding-left: 5px;
    margin-right: 153px;
}

div.filters select{
    margin: 10px;
    font-size: 16px;
    border: none;
}

div.body_recents{
    width: 740px;
    height: 500px;
    padding: 40px 30px 0 30px;
    border-radius: 30px;
    box-shadow: 0 0 15px 1px #c6c6c6;
}

div.recents_header_titles{
    margin-bottom: 15px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}

div.recents_data{
    padding-top: 20px;
}

div.logos{
    display: grid;
    grid-template-columns: repeat(3,minmax(10px,1fr));
}

div.info{
    display: grid;
    font-size: 15px;
    gap: 20px;
    grid-template-columns: repeat(4,minmax(10px,1fr));
    word-wrap: break-word;
    text-align: center;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #EBEBEC;
}

div.policies_data{
    width: 512px;
    height: 175px;
    margin-top: 60px;
    padding: 0 18px 0 190px;
    position: relative;
}

div.back{
    width: 100%;
    height: 160px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    z-index: 1;
    background: #231F20;
}

div.title_header{
    padding: 18px;
    color: white;
    position: absolute;
    top: -32px;
    border-radius: 10px;
    z-index: 2;
    background: #ED1C24;
}

div.data{
    padding: 15px 27px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 50%;
    transform: translate(52%);
    border-radius: 30px;
    box-shadow: 0 5px 10px 1px #c6c6c6;
    z-index: 3;
    background: #FFFFFF;
}

div.data div.vertical_separator{
    width: 1px;
    height: 100px;
    margin: 0 20px 0 20px;
    background: black;
}

div.data_right{
    display: flex;
}

div.data_right div.target{
    width: 100px;
    height: 120px;
    padding: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    text-align: center;
    justify-content: space-around;
    color: white;
    border-radius: 19px;
    background: #231F20;
}

div.data_right p.number{
    width: 65px;
    padding: 5px 0;
    color: black;
    border-radius: 20px;
    background: #ED1C24;
}

div.data_right #in_expedition{
    margin-left: 17px;
    margin-right: 17px;
}

div.data_left div.item{
    padding: 6px;
    display: grid;
    grid-template-columns: repeat(2,45px);
    gap: 5px;
    align-items: center;
    justify-items: center;
    word-break: break-word;
    border-radius: 15px;
    background: #ED1C24;
}

div.data_left #number_quotes{
    margin-top: 8px;
    margin-bottom: 8px;
}

div.best_selling_insurances{
    width: 255px;
    height: 365px;
    padding: 20px;
    position: relative;
}

div.insurance_graphic{
    width: 100%;
    height: 325px;
    padding-top: 150px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 0 10px 1px #c6c6c6;
}

div.lid{
    width: 235px;
    height: 120px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: white;
    border-radius: 30px;
    box-shadow: 0 5px 10px 1px #c6c6c6;
    background: red;
}

div.insurance_group{
    display: flex;
    margin-top: 8px;
}

div.insurance_group div{
    width: 50px;
    height: 50px;
    padding: 7px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #c6c6c6;
    background: #FFFFFF;
}

div.insurance_group #insurance2{
    margin-right: 20px;
    margin-left: 20px;
}

div.insurers_graphics{
    width: 240px;
    margin: 20px 20px 20px 38px;
    border-radius: 30px;
    box-shadow: 0 5px 10px 1px #c6c6c6;
    background: #ED1C24;
}


